:root {
    /* websudoku.com colors */
    --thin-border-style: #DDDDEE solid 1px;
    --thick-border-style: #666699 solid 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
    /* border: solid 1px; */
    border-collapse: collapse;
    user-select: none;
}

td {
    position: relative;
    width: 30px;
    height: 30px;
}

td:not(:first-child) {
    border: var(--thin-border-style);
}

td.bl {
    border-left: var(--thick-border-style);
}

td.br {
    border-right: var(--thick-border-style);
}

td.bt {
    border-top: var(--thick-border-style);
}

td.bb {
    border-bottom: var(--thick-border-style);
}

td::after {
  content: attr(data-region);
  font-size: 75%;
  position: absolute;
  top: 0;
  left: 0;
}
